include:
  # used in the pipeline
  - local: "templates/basic-release.yml"

  # Testing the local templates
  - local: "test-the-templates/flatpak.yml"
    rules:
      - changes:
          paths:
            - "flatpak/*"
            - "templates/defeault-rules.yml"
            - "test-the-templates/flatpak.yml"

  - local: "test-the-templates/gnomeos-basic-ci.yml"
    rules:
      - changes:
          paths:
            - "templates/gnomeos-basic-ci.yml"
            - "test-the-templates/gnomeos-basic-ci.yml"

  - local: "test-the-templates/test-tarball-dist.yml"
    rules:
      - changes:
          paths:
            - "flatpak/*"
            - "templates/gnomeos-basic-ci.yml"
            - "test-the-templates/test-tarball-dist.yml"

  - local: "test-the-templates/test-docs-generation.yml"
    rules:
      - changes:
          paths:
            - "flatpak/*"
            - "templates/gnomeos-basic-ci.yml"
            - "test-the-templates/test-docs-generation.yml"

  - local: "templates/default-rules.yml"
  - local: "test-the-templates/gnomeos-build-sysext.yml"
    rules:
      - changes:
          paths:
            - "templates/gnomeos-build-sysext.yml"
            - "test-the-templates/gnomeos-build-sysext.yml"

stages:
  - "lints"
  - "Flatpak app"
  - "GNOMEOS Basic CI"
  - "Dist tarball tests"
  - "Docs generation tests"
  - "GNOMEOS Build Sysext CI"
  - "deploy"

markdown-lint:
  # has curl builtin still unlike debian or alpine
  image: "fedora:latest"
  needs: []
  stage: "lints"
  before_script:
    - rumdl_tag="v0.0.181"
    - mkdir -p "$CI_PROJECT_DIR/bin"
    - curl -LsSf "https://github.com/rvben/rumdl/releases/download/$rumdl_tag/rumdl-$rumdl_tag-x86_64-unknown-linux-gnu.tar.gz" | tar xzf - -C "$CI_PROJECT_DIR/bin"
  script:
    - $CI_PROJECT_DIR/bin/rumdl check --output-format gitlab $CI_PROJECT_DIR > "$CI_PROJECT_DIR/rumdl.json"
  after_script:
    - cat "$CI_PROJECT_DIR/rumdl.json"
  rules:
    - changes:
        paths:
          - "*.md"
          - "**/*.md"
  artifacts:
    when: always
    paths:
      - rumdl.json
    reports:
      codequality: rumdl.json
