include:
  # used in the pipeline
  - local: "templates/basic-release.yml"
  - local: "templates/markdown-lint.yml"
  - local: "templates/ruff-lint.yml"
  - local: "gnome-runtime-images/.gitlab-ci.yml"
    rules:
      - changes:
          paths:
            - "gnome-runtime-images/**/*"
            - "templates/build-runtime-images/**/*"

  # Testing the local templates
  - local: "test-the-templates/flatpak.yml"
    rules:
      - changes:
          paths:
            - "gnome-runtime-images/**/*"
            - "templates/build-runtime-images/**/*"
            - "flatpak/*"
            - "templates/defeault-rules.yml"
            - "test-the-templates/flatpak.yml"

  - local: "test-the-templates/gnomeos-basic-ci.yml"
    rules:
      - changes:
          paths:
            - "templates/gnomeos-basic-ci.yml"
            - "test-the-templates/gnomeos-basic-ci.yml"

  - local: "test-the-templates/test-tarball-dist.yml"
    rules:
      - changes:
          paths:
            - "flatpak/*"
            - "gnome-runtime-images/**/*"
            - "templates/build-runtime-images/**/*"
            - "templates/gnomeos-basic-ci.yml"
            - "test-the-templates/test-tarball-dist.yml"

  - local: "test-the-templates/test-docs-generation.yml"
    rules:
      - changes:
          paths:
            - "flatpak/*"
            - "templates/gnomeos-basic-ci.yml"
            - "test-the-templates/test-docs-generation.yml"

  - local: "templates/default-rules.yml"
  - local: "test-the-templates/gnomeos-build-sysext.yml"
    rules:
      - changes:
          paths:
            - "templates/gnomeos-build-sysext.yml"
            - "test-the-templates/gnomeos-build-sysext.yml"

stages:
  - "lint"
  - "gnome-runtime-images"
  - "Flatpak app"
  - "GNOMEOS Basic CI"
  - "Dist tarball tests"
  - "Docs generation tests"
  - "GNOMEOS Build Sysext CI"
  - "deploy"
